@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&family=Outfit:wght@300&family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Space Mono", monospace;
  font-family: "Outfit", sans-serif;
}
main {
  width: 30%;
  margin: auto;
  background-color: hsl(216, 50%, 16%);
  margin-top: 100px;
  border-radius: 15px;
}
main .img {
  width: 100%;
  padding: 25px;
}
main .img img {
  width: 100%;
}
main .content {
  width: 100%;
  padding: 25px;
  padding-top: 0;
}
main .content h1 {
  color: white;
}
main .content p {
  color: hsl(215, 51%, 70%);
  margin: 20px 0;
}
main .content .price {
  display: flex;
  justify-content: space-between;
  height: 20px;
}
main .content .price .m-price {
  display: flex;
  align-items: center;
}
main .content .price .m-price img {
  margin-right: 8px;
}
main .content .price .m-price p {
}
main .content .price .time {
  display: flex;
  align-items: center;
}
main .content .price .time img {
  margin-right: 8px;
}
main .content .price .time p {
}
main .content .hr {
  width: 100%;
  height: 1px;
  background-color: hsl(215, 32%, 27%);
  margin: 20px 0;
}
main .content .avatar {
  display: flex;
  align-items: center;
}
main .content .avatar img {
  width: 33px;
  border: solid 1px white;
  border-radius: 50%;
}
main .content .avatar span {
  color: hsl(215, 51%, 70%);
  margin: 0 4px 0 8px;
}
main .content .avatar span:last-child {
  color: white;
  margin: 0;
}

.attribution{
  margin-top: 30px;
  color: white;
  font-size: 1.2rem;
}

/* mobile screen */
@media only screen and (max-width: 900px) {
  main{
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  main{
    width: 60%;
  }
}
@media only screen and (max-width: 480px) {
  main{
    width: 90%;
  }
}